@model View_Flow.Models.Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <td>ID -</td>
                <td>@Model.id</td>
            </tr>
            <tr>
                <td>Name -</td>
                <td>@Model.name</td>
            </tr>
            <tr>
                <td>Designation -</td>
                <td>@Model.designation</td>
            </tr>


        </table>
    </div>
    @{
        int a = 5;
        int b = 4;
        int c = a+b;
        List<string> lis = new List<string>() { "Apple", "Mango", "Banana" };
    }
    <p>Value of c - @c  </p>
    <p> @lis[1]</p>
    <p> @Html.ActionLink("About","About")</p>
    <p> @Html.ActionLink("Contact", "Contact", new { name = "Vaari" })</p>
    <p> Name : @Html.TextBox("Name", null, new { value= "Name"})</p>
    @for(int i=1;i<5;i++)
    {
        <p> @i - @Html.CheckBox("Technology")</p>
    }


</body>
</html>
